
# npm 仓库 
# npm config set registry https://registry.npmjs.org
# ronaldo_xzb 常用密码
registry=https://registry.npmjs.org
# github npm 仓库
# npm login --registry=https://npm.pkg.github.com

# ronaldoxzb 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
# @ronaldoxzb:registry=https://npm.pkg.github.com 